# Environment
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Old local database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db